
@import './../../colors.less';

@font-face {
  font-family: 'WGTitle';
  src: url('/assets/fonts/mswg2.ttf')
}

// 顶部公共header样式
.header-wrap {

  display: flex;
  justify-content: space-between;
  

  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 1rem;

  // header标题的包裹元素
  .header-title-wrap {
    flex-shrink: 0;
  }

  // header标题 灵思 的样式
  .header-title {
    font-size: 1.6rem;
    color: @THEME_COLOR;
    font-family: WGTitle;
  }

  // 右侧导航栏样式
  .header-nav-wrap {

  }

  // header右侧导航栏中，每一个导航按钮的样式
  .nav-item {
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
    margin-right: 1rem;
    border-radius: 0.1rem;
    color: @TITLE_COLOR;
  }

  .nav-item:hover {
    cursor: pointer;
    background-color: @THEME_COLOR;
    color: @WHITE_COLOR;
  }
}

//小于600像素之后的样式，适配移动端
@media (max-width: 600px) {

  // 移动端上，标题左右居中
  .header-wrap {
    justify-content: center;
  }

  // 移动端上，没有导航栏，采用底部导航栏取代
  .header-nav-wrap {
    display: none;
  }
}
