body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 240px;
  min-height: 100vh;  
  position: relative;
}

.page-body {
  padding-bottom: 3.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 移动端 600px以下，没有footer，显示bottom-nav */
@media (max-width: 600px) {
  .footer-wrap {
    display: none;
  }
}
